<h1>New article</h1>

<div id="pubmed_import">
<% form_tag new_article_path do %>
  <%= label_tag('pmid') %>
  <%= text_field_tag 'pmid', params["pmid"], :size => 8 %>
  <%= submit_tag "Import from PubMed" %>
<% end -%>
</div>

<%= render :partial => 'form' %>

<%= link_to 'Back', articles_path %>
