<h1><%= @article.title %></h1>

<%= citation(@article) %>

<ol>
<% for authorship in @article.authorships -%>
  <li><%= link_to authorship.fullname, authorship %></li>
<% end -%>
</ol>

<%= timestamps(@article) %>

<%= link_to 'Articles', articles_path %> |
<%= link_to 'Add an article', new_article_path %>