<h1><%= @article.title %></h1>

<%= citation(@article) %>

<ol>
<% for authorship in @article.authorships -%>
  <li><%= link_to authorship.author.full_name, authorship.author %></li>
<% end -%>
</ol>

<%= timestamps(@article) %>

<%= link_to 'Back', articles_path %>
