<h1><%= @author.full_name %></h1>

<h2>Articles</h2>

<ol>
<% for authorship in @author.authorships -%>
  <li><%= link_to authorship.article.title, authorship.article %></li>
<% end -%>
</ol>

<h2>Coauthors</h2>

<ol>
<% for coauthorship in @author.coauthorships.sort_by(&:articles_count).reverse -%>
  <li><%= link_to coauthorship.coauthor.full_name, coauthorship.coauthor %>[<%= coauthorship.articles_count %>]</li>
<% end -%>
</ol>

<h2>Common-Coauthor Matrix</h2>
<%= coauthor_matrix(@author) %>

<%= timestamps(@author) %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
